@page
@model AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

<div>
    <h1 class="display-4">Michael Glimmerdahl</h1>
    <p>
        Jag har alltid tyckt det är väldigt kul med datorer och webdesign men aldrig tagit steget att utbildat mig ordentligt. Det är något som jag verkligen ångrar och nu vill jag se till att fylla igen de luckor jag har kunskapsmässigt.
    </p>
    <p>
        Jag tycker design är roligt men inser att det också krävs en del talang för att bli riktigt duktig. Själv brinner jag verkligen för att lära mig mer om server side språken och databashantering. Jag tror också att det inom den grenen av programmering jag är mest intresserad att arbeta i framtiden.
    </p>
    <p>
        Jag arbetar i dagsläget och går denna utbildning som ett sidoprojekt men tycker det är så roligt att jag nog lägger mer tid på detta än mitt arbete =)
    </p>
</div>